<header>
    <div class="container">
      <nav>
        <span class="logo">
              <h1>Basic Crud Practice</h1>
        </span>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/card/create">Create</a></li>
          <li><a href="/card/delete">Delete</a></li>
        </ul>
      </nav>
    </div>
  </header>