<!DOCTYPE html>
<html>
  <%- include('./partials/head',{title:'Create View', style:'create'})%> 
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="inputs">
          <div class="tittle">
            <label for="title"> Titulo </label>
              <input class="input" type="text" name="title" id="title">
           
          </div>
          <div class="link">
            <label for="link">Link</label>
              <input class="input" type="text" name="link" id="link">
            
          </div>
        </div>

        <div class="upload-image">
          <div class="upload-image_input">
            <label for="imagen"> Subir imagen </label>
            <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
            
          </div>
          <div class="preview">
            <img id="file-ip-1-preview">
          </div>
        </div>

        <div class="create">
          <button class="create-button" type="submit">Create</button>
        </div>
      </div>
    </div>
    <script>
          function showPreview(event){
          if(event.target.files.length > 0){
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
          }
        }
    </script>
  </body>
</html>